#container h1{
    font-size: 20px;
}

body{
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background:rgb(20, 114, 221);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    padding: 0.5cm;

}

#cabecera #tagline{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8cm;

}

#container{
    width: 70%;
    padding: 2cm;
    text-align: center;
    border: 2px solid rgb(221, 20, 20);
    margin:0 auto;
}